.mint-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mint-form input {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #2c2c38;
  background: #13131a;
  color: #fff;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.mint-form input:focus {
  border-color: #7b4bff;
}

.mint-form button {
  padding: 15px;
  background: #7b4bff;
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.mint-form button:hover {
  background: #5b2ed9;
}
