.contact {
  padding: 90px 6%;
  background: #0a0a0f;
  color: #fff;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
}

.contact-title {
  font-size: 38px;
  font-weight: 700;
}

.contact-sub {
  margin-top: 10px;
  font-size: 15px;
  color: #bbb;
  width: 80%;
  max-width: 600px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 50px;
}


/* LEFT SIDE INFO */
.contact-info h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
}

.contact-info p {
  margin: 8px 0;
  font-size: 15px;
  color: #ccc;
}

.socials {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.socials a {
  color: #7b4bff;
  font-weight: 500;
  transition: 0.3s;
}

.socials a:hover {
  color: #a984ff;
}


/* RIGHT SIDE FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  background: #14141c;
  border: 1px solid #2a2a35;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: border 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #7b4bff;
}

.contact-form button {
  padding: 14px;
  background: #7b4bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.contact-form button:hover {
  background: #6437d9;
}
