.mint-page {
  padding: 90px 6%;
  background: #0b0b11;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.mint-container {
  max-width: 600px;
  text-align: center;
}

.mint-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mint-sub {
  color: #bbb;
  font-size: 16px;
  margin-bottom: 40px;
}
