* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding/borders are included in element's total width/height */
}

body {
  font-family: Arial, sans-serif;
  /* text-align: center; */
  /* padding: 50px; */
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

input {
  padding: 10px;
  width: 300px;
}

/* Navbar.css */
nav {
  margin: 0.5rem;
  background-color: #4242fa;  /* Dark theme */
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;   /* Center the links */
  border-radius: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;  /* Space between items */
  margin: 0;
  padding: 0;
}

nav li {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

nav li:hover {
  color: #ff6f61;  /* Accent color on hover */
}
